<div class="header-padding5">
  <!-- Info toolbar -->
  <ui5-toolbar toolbar-style="Clear" design="Info">
    <span>
      <i>Bucket List / Wish List</i>
    </span>
  </ui5-toolbar>
  <ui5-table class="demo-table" id="table">
    <!-- Columns -->
    <ui5-table-column data-ui5-slot="columns" width="12em">
      <span style="line-height: 1.4rem" data-ui5-slot="header">Wish</span>
    </ui5-table-column>

    <ui5-table-column data-ui5-slot="columns" min-width="800" popin-text="Supplier">
      <span style="line-height: 1.4rem" data-ui5-slot="header">Type</span>
    </ui5-table-column>

    <ui5-table-column data-ui5-slot="columns" min-width="600" popin-text="Dimensions" demand-popin>
      <span style="line-height: 1.4rem" data-ui5-slot="header">Complete Before</span>
    </ui5-table-column>

    <ui5-table-column data-ui5-slot="columns" min-width="600" popin-text="Weight" demand-popin>
      <span style="line-height: 1.4rem" data-ui5-slot="header">Planned On</span>
    </ui5-table-column>

    <ui5-table-column data-ui5-slot="columns">
      <span style="line-height: 1.4rem" data-ui5-slot="header">Location</span>
    </ui5-table-column>
    <ui5-table-column data-ui5-slot="columns">
        <span style="line-height: 1.4rem" data-ui5-slot="header"></span>
      </ui5-table-column>


    <ui5-table-row data-ui5-slot="rows" *ngFor="let item of bucketList">
      <ui5-table-cell data-ui5-slot="cells">
        <span style="line-height: 1.4rem">{{item.wish}}</span>
      </ui5-table-cell>
      <ui5-table-cell data-ui5-slot="cells">
        <span style="line-height: 1.4rem">{{item.type}}</span>
      </ui5-table-cell>
      <ui5-table-cell data-ui5-slot="cells">
        <span style="line-height: 1.4rem">{{item.completeBefore}}</span>
      </ui5-table-cell>
      <ui5-table-cell data-ui5-slot="cells">
        <span style="line-height: 1.4rem">{{item.tentitiveDate}}</span>
      </ui5-table-cell>
      <ui5-table-cell data-ui5-slot="cells">
        <span style="line-height: 1.4rem">{{item.location}}</span>
      </ui5-table-cell>
      <ui5-table-cell data-ui5-slot="cells">
          <ui5-button type="Emphasized" (ui5-press)="handlePress()" >Hello world!</ui5-button> 
        </ui5-table-cell>
      
    </ui5-table-row>

  </ui5-table>
</div>